<div class="box box-info">
  <div class="box-header with-border">
    <h3>Lista de Productos</h3>

    <div class="box-tools pull-right">
    	
      <!--<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
      
    </div>
    
  </div>
  
</div>

<div class="box-body">
  <div class="table-responsive">
    <table class="table no-margin">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products" >
          <td>{{product.code}}</td>
          <td>{{product.name}}</td>
          <td>
            
                 <nav aria-label="Page navigation example" >

                      <ul class="pagination" >
                        <li class="page-item">
                            <span aria-hidden="true" 
                                  class="page-link" 
                                  aria-label="Previous" 
                                  (click)="decrementAmount(product)">-</span>
                        </li>

                        <li class="page-item">
                          <input (keyup)="onkey($event, product)" 
                                 id="amount"
                                 class="page-link"  
                                 name="amount" 
                                 value={{product.amount}} ></li>
                        <li class="page-item">
                            <span aria-hidden="true" 
                                  class="page-link" 
                                  aria-label="Next"
                                  (click)="incrementAmount(product)">+</span>
                      
                        </li>
                      </ul>
                    </nav>


          </td>
          <td>{{product.price}}</td>
          <td>
            <button class="btn btn-success" (click)="modificar(product)" >Modificar</button>

              <button class="btn btn-danger" (click)="delete(product)" >Eliminar</button>

          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
  
</div>


<!--<app-product-form > </app-product-form>-->