    <div *ngIf="isLoginError" class="alert-warning align-content-end" >
        <i class="badge-warning">Error</i> Nombre de usuario o contraseña incorrrecta
    </div>

     <form #loginForm="ngForm" >

     <img class="card-img-top" src="assets/open-iconic-master/svg/person.svg" alt="Card image cap">
      <a class="nav-link" routerLink="/signup" routerLinkActive='active'>Sign Up</a>
     
     
        
      
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="text"  [(ngModel)]="user.username" name="username" #name="ngModel" required>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" [(ngModel)]="user.password" name="password" #name="ngModel" placeholder="password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>

      <button [disabled]="!loginForm.valid" class="btn btn-lg btn-primary btn-block" type="submit" (click)="onSubmit(user)">Sign in</button>
     
   </form> 
