	<div class="container">
		<h1>Formulario Producto</h1>
	  
	  
			
			<form  #productForm="ngForm">

			<div>
				<label for="code">Código</label>
	        		<input type="text" class="form-control" id="code"
		               required
		               [(ngModel)]="product.code" name="code"
		               #name="ngModel" >
	     	 </div>

				<div class="form-group">
					<label for="name">Nombre</label>
					<input type="text" class="form-control" id="name" [(ngModel)]="product.name" name="name" #name="ngModel" required>
				</div>

				<div class="form-group">
					<label for="amount">Cantidad</label>
					<input type="text" class="form-control" id="amount"[(ngModel)]="product.amount" name="amount" required>
				</div>

				<div class="form-group">
					<label for="price">Precio</label>
					<input type="text" class="form-control" id="price" [(ngModel)]="product.price" name="price" required>
				</div>

				<div class="form-group">
					<label for="category_id" >Categoría</label>	
				<select [(ngModel)]="product.category_id"   class="form-control" id="category_id" name="category_id"  required>
					  <option *ngFor="let category of categories" (click)="asignarCategoria(category)" value="{{category.id}}">{{category.name}}</option>
				</select>	
				</div>

				



				<div class="form-group">
					<label for="description">Descripción</label>
					<textarea type="text" class="form-control" id="description"[(ngModel)]="product.description" name="description" required> </textarea>
				</div>

				<div class="form-group">
					<label for="imagePath">URL Imagen</label>
					<input type="text" class="form-control" id="imagePath" 
					[(ngModel)]="product.imagePath" name="imagePath">
				</div>

				<button type="submit" class="btn btn-primary" (click)="save(product)" >Registrar</button>
				
			</form>	

	  	
	  </div>

	  <!--<input [(ngModel)]="product.code" type="text" />-->
	  

