
<div class="row">
	<div class="col-sm">
	<img src="../../../../assets/image/icons/carrito.png" class="rounded float-right">
	</div>
	<div class="col-sm">
      <span class="badge badge-success">{{ contCarrito }}</span>
    </div>
</div>


<div class="row">

  <div *ngFor="let productid of products" class="col-xs-12">

    <app-product-item 
    [product]="productid"
    (productAdded)="recibirItem($event)"
    >
    <!--(productSelected)="onProductSelected(product)"
    (productWasSelected)="selectedProduct =  $event"-->

  </app-product-item>

  




  </div>
</div>





  
 
